.vertical-timeline span {
    color: white;
    font-family: 'Courier Prime', monospace;
}

.vertical-timeline p {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element p {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element h3 {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element h4 {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element span {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element .vertical-timeline-element-date {
    color: white;
}

.svg-inline--fa {
    color: white;
}

@media screen and (max-width: 1170px) {
    .vertical-timeline-element .vertical-timeline-element-date {
        color: rgb(39, 40, 34);
    }
}

.education-details {
    display: flex;
    align-items: center;

    .education-logo {
        display: flex;
        justify-content: center;
        margin: 15px;
    }
}

#education, #experience {
    .vertical-timeline-element-title {
        font-size: 25px;
    }

    .vertical-timeline-element-subtitle {
        margin: 0;
    }

    .vertical-timeline-element-subtitle-sub {
        margin: 0;
        font-size: 16px;
    }

    .vertical-timeline-element-content-arrow {
        display: none;
    }
}

#education {
    .vertical-timeline-element-icon {
        top: 37%;
    }
}

#experience {
    .vertical-timeline-element-icon {
        top: 43%;
    }
}

.experience-details {
    display: flex;

    .experience-title {
        margin-left: 25px;
    }

    .experience-logo {
        margin-top: 10px;
    }
}